.sharechecker
.sharechecker
  .statistics
    border-collapse: collapse
    border-spacing: 0
    td, th
      border: 1px solid #CECECE
      text-align: left
      padding: 5px
      vertical-align: top
    .caption
      th
        text-align: center
