.sharechecker .statistics {
  border-collapse: collapse;
  border-spacing: 0;
}
.sharechecker .statistics td,
.sharechecker .statistics th {
  border: 1px solid #cecece;
  text-align: left;
  padding: 5px;
  vertical-align: top;
}
.sharechecker .statistics .caption th {
  text-align: center;
}

