<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="@spacer" type="spacer" default="Уведомления" label="" description="Отправлять уведомления на почту при условиях (ниже)" menu="hide" />
		<param name="send_email" type="radio" default="1" label="Отправлять уведомления" description="">
			<option value="1">Отправлять</option>
			<option value="0">Не отправлять</option>
		</param>
		<param name="email_for_notices" type="text" menu="hide" default="admin@mycomponent.ru" label="E-Mail для уведомлений" description="" />
		<param name="last_notice_date" type="text" menu="hide" default="" label="Дата последнего уведомления" description="Системное поле, не следует изменять" />
		<param name="min_broken_links_for_notice" type="text" menu="hide" default="5" label="Уведомлять, если число материалов с битыми ссылками не менее" description="" />
		<param name="send_notice_interval" type="text" menu="hide" default="3" label="Интервал отправки уведомлений, дни" description="Если письмо уже было отослано, оно не отсылается в ближайшие N дней" />
		<param name="@spacer" type="spacer" default="Параметры одного прохода" label="" description="" menu="hide" />
		<param name="max_search_for_links" type="text" menu="hide" default="100" label="Число материалов для поиска ссылок" description="Довольно быстрая операция, но не следует увлекаться" />
		<param name="max_check_links" type="text" menu="hide" default="10" label="Число материлов для проверки ссылок" description="Не следует значительно увеличивать число операций за проход" />
		<param name="links_check_interval" type="text" menu="hide" default="-1 DAY" label="Ссылка считается рабочей и не проверяется (-1 DAY, -12 HOUR, -30 MINUTE)" description="Интервал в формате MYSQL" />
		<param name="secret_code" type="text" menu="hide" default="HV9tJuBMa2" label="Секретный код для запуска задач по расписанию" description="Защита от флуда по ссылке" />
		<param name="letitbit_api_key" type="text" menu="hide" default="" label="Letitbit.net ключ API" description="Ключ API Letitbit.net" />
	</params>
</config>